@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comforter&display=swap');


body {
    background-color: #f8f8fb;
}

h1, h5 {
    font-family: 'Source Serif Pro', serif;
}

a {
    text-decoration: none;
}

.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, #a7975f 0%, #0dcaf0 100%);
    background-size: cover;
    z-index: 0
}

.masthead svg.wave {
    position: absolute;
    bottom: -1px;
    left: 0
}

.masthead h1 {
    color: #fcf3db;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    z-index: 1
}

.masthead h5 {
    color: rgb(252, 243, 219);
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem
}

.masthead p {
    font-weight: 600;
    color: rgb(252, 243, 237);
}

.masthead a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    z-index: 1;
}

.masthead li {
    list-style-type: none;
}

.masthead a:hover {
    color: #39e8b8;

}

.masthead .masthead-cards {
    position: relative;
    z-index: 1
}

.masthead .masthead-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
}

.masthead .masthead-cards .card {
    opacity: 1;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .05rem;
    color: #212529;
    transition: .15s all
}

.masthead .masthead-cards .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem
}

.masthead .masthead-cards .card:active {
    margin-top: inherit;
    margin-bottom: inherit
}


.masthead .masthead-cards .card.border-bottom-blue:hover {
    color: #0a66c2
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
    color: #ffc107
}

.masthead .masthead-cards .card.border-bottom-purple:hover {
    color: #8111b1
}

.masthead-page {
    padding: 1rem 0 4rem
}



.border-bottom-blue, .border-bottom-black, .border-bottom-purple, .border-bottom-yellow {
    border-bottom: .4rem solid!important;
}

footer {
    font-family: 'Caveat', cursive;
    font-family: 'Comforter', cursive;
    font-size: 2rem;
}

@media(min-width:992px) {
    .masthead h1 {
        font-size: 3rem
    }
    .masthead h2 {
        font-size: 1.5rem
    }

    .masthead-page h1 {
        font-size: 2.5rem
    }
}
